<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <p>
        <b>Name:</b>
        <%= @user.name %>
      </p>
      <p>
        <b>Email:</b>
        <%= @user.email %>
      </p>
      <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-large btn-primary' %>
    </section>
  </aside>
  <div class="span8">
    <% if @user.dashes.any? %>
      <h3>Dashes (<%= @user.dashes.count %>)</h3>
      <ol class="microposts">
        <%= render @dashes %>
      </ol>
      <%= will_paginate @dashes %>
    <% else %>
      <h3 style="border-bottom: 1px solid #e8e8e8; padding-bottom: 8px; margin-bottom: 11px">Dashes (0)</h3>
    <% end %>
    <form accept-charset="UTF-8" action="/dashes" method="post">
      <input class="btn btn-large btn-primary" name="commit" type="submit" value="Dash">
    </form>
  </div>
</div>

<%# = link_to 'Back', users_path %>
